.display-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* grid-column-start: 1; */
  /* grid-column-end: 6; */
  background-color: white;
  border-radius: 6px;
  border: 0px ;
  padding: 1px;
}

.top-banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-wrap: wrap; */
  background-color: rgb(58 54 55);
  min-height: 32px;
  border-bottom: 2px solid rgb(136 47 92);
  padding: 20px;
  justify-content: right;
}

.title{
  color:white;
  /* font-size: larger; */
  /* border: solid 1px red; */
  /* text-align: left; */
}

.timer-buttons{
  /* border: solid 1px green; */
  text-align: right;
}

.timer-btn{
  border-radius: 6px;
  cursor: pointer;
  /* border: 1px; */
  margin: 2px;
  background-color: rgb(95 74 90);
  color: rgb(255 255 255); 
  border: 1px solid rgb(156 134 149);
  box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.25);
}

.timer-btn:hover{
  background-color: rgb(80, 62, 76);
  border: 1px solid rgb(156 134 149);
}

.timer-banner{
  background-color: rgb(238 225 227);
  height: 32px;
  display: flex;
  justify-content: right;
}

.timer-display{
  width: 80px;
  font-weight: bold;
  color: rgb(51 51 51);
  /* text-align: left; */
  /* text-decoration:  */
}

.timer-input-wrapper{
  width: 200px;
  text-align: center;
}

.timer-input-box{
  /* width: 200px; */
  display: grid;
  grid-template-columns: 1fr 12px 1fr 12px 1fr;
  grid-template-rows: 1fr 1fr;
}

.timer-input{
  width: calc(100%);
  text-align: center;
  box-sizing: border-box;
}

/* #cancel, #set-time{
  width: calc(100%);
} */

#displayL, #displayR
{
  /* display: inline; */
  cursor: auto;
  
}

#displayL {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  color: black;
}

#displayR {
  grid-column-start: 2;
  grid-column-end: 6;
  text-align: right;
  color: black;
}

.button-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /* border: 1px solid black; */
}

.calc-body{
  max-width: 250px;
  border: 1px solid rgb(187 187 188);
  background-color: rgb(211 211 211);
}

.calc-btn {
  border-radius: 6px;
  cursor: pointer;
  border: 1px;
  margin: 1px;
  background-color: rgb(235 240 246);
  color: rgb(255 255 255); /**/
  /* border: 1px outset rgba(0,0,0, 0.25); */
  box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.25);
}

#clear, #clear-entry {
  background-color: rgb(186 90 20);
}

/* #clear:hover, #clear-entry:hover{
  background-color:rgb(207, 0, 0)
} */

#\*, #\/, #\+, #\-, #negative, #parenleft, #parenright, #squareroot{
  background-color: rgb(57 119 160);
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #decimal {
  color: rgb(57 55 54);

}

#paren-inactive{
  background-color: rgb(158 180 192);
}

/* #multiply:hover, #divide:hover, #add:hover, #subtract:hover {
  background-color: #555;
} */

#equals, #memrecall, #memclear, #memadd{
  /* grid-column: 3/5; */
  /* grid-row: 5; */
  background-color: rgb(35 71 96);
}

/* #equals:hover{
  background-color: rgb(226, 124, 0);
} */