html,
body, #root {
  height: 100%;
  margin: 0;
  overflow-x:hidden;
  /* prevent text selection: */
  user-select: none;
}

.app-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  flex: 0 1 auto;
}

.top-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* display: flex;
  flex-wrap: wrap; */
  background-color: rgb(58 54 55);
  /* min-height: 32px; */
  border-bottom: 2px solid rgb(136 47 92);
  padding: .75rem;
  justify-content: right;
}

.title {
  color: white;
}

.title svg {
  vertical-align: -2px;
}

.timer-buttons {
  /* border: solid 1px green; */
  text-align: right;
}

.timer-btn {
  border-radius: 6px;
  cursor: pointer;
  margin: 2px;
  background-color: rgb(95 74 90);
  color: rgb(255 255 255);
  border: 1px solid rgb(156 134 149);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  padding-bottom: 2px;
}

.timer-btn:hover {
  background-color: rgb(117 87 108);
  border: 1px solid rgb(214 186 205);
}

.timer-btn:disabled {
  background-color: rgb(33, 26, 31);
  color: rgb(69, 68, 68);
  border: 1px solid rgb(33, 26, 31);
  cursor: default;
}

#calc-toggle {
  margin-right: 12px;
  background-color: rgb(78 79 79);
  border: 1px solid rgb(154 153 154);
  /* font-size: 8px; */
}

#calc-toggle:hover {
  background-color: rgb(100 101 100);
  border: 1px solid rgb(222 223 223);
}

.timer-banner {
  background-color: rgb(238 225 227);
  /* min-height: 32px; */
  display: flex;
  justify-content: right;
  padding: .5em;
  font-size: 1em;
}

.timer-display {
  min-width: 80px;
  font-weight: bold;
  color: rgb(51 51 51);
  padding-right: .3em
}

.hide-display {
  padding-right: 10px;
  cursor: pointer;
}

.hide-display svg {
  vertical-align: -3px;
}

.timer-input-wrapper {
  width: 200px;
  text-align: center;
}

.timer-input-box {
  /* width: 200px; */
  display: grid;
  grid-template-columns: 1fr 12px 1fr 12px 1fr;
  grid-template-rows: 1fr 1fr;
}

.timer-input {
  width: calc(100%);
  text-align: center;
  box-sizing: border-box;
  border-radius: 6px;
  /* border: 1px solid; */
  border-style: solid;
}

input:focus {
  outline: rgb(136 47 92) solid 1px;
}

/* #cancel, #set-time{
  width: calc(100%);
} */

.white-body{
  flex: 1 1 auto;
  /* min-height: 70vh; */
  /* width: 100%; */
  /* display: grid; */
  /* padding-right: 5px; */
  border: 3px double black;
  /* border-bottom: none; */
}

.calc-container{
  display: grid;
  /* gridTemplateColumns: '1fr 1fr 1fr', */
  justify-content: right;
  padding-right: 5px;
}

@media screen and (max-width: 460px) {
  .top-banner {
    display: flex;
    flex-flow: column;
    background-color: rgb(58 54 55);
    border-bottom: 2px solid rgb(136 47 92);
    padding: .75rem;
    justify-content: center;
    align-items: center;
  }
  .white-body{
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  .calc-container{
    justify-content: center;
  }
  .calc-body {
    width: 90vw;
  }
  .calc-btn {
    height: 10vh;
    line-height: 10vh;
  }
}

/* /////// CALCULATOR STUFF \\\\\\\ */
.calc-top {
  height: 32px;
  cursor: move;
  /* text-align: right; */
}

.close {
  color: rgb(68 68 69);
  background-color: rgb(211 211 211);
  position:relative;
  top: 0px;
  /* right: -6em; */
  left: 86%;
  font-size: 20px;
  /* width: 25px; */
  width: 11%;
  /* adjust vertical position */
  line-height: 20px;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 2px;
  margin: 4px;
  cursor: pointer;
  text-align: center;
}

.close:hover {
  background-color: rgb(231, 231, 231);
}

.display-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* grid-column-start: 1; */
  /* grid-column-end: 6; */
  background-color: white;
  border-radius: 6px;
  border: 0px;
  padding: 1px;
}

#displayL,
#displayR {
  /* display: inline; */
  /* cursor: auto; */
}

#displayL {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  color: black;
}

#displayR {
  grid-column-start: 2;
  grid-column-end: 6;
  text-align: right;
  color: black;
}

.button-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  /* border: 1px solid black; */
}

.calc-body {
  /* max-width: 250px; */
  border: 1px solid rgb(187 187 188);
  background-color: rgb(211 211 211);
}

.calc-btn {
  border-radius: 6px;
  cursor: pointer;
  border: 1px;
  margin: 1px;
  background-color: rgb(235 240 246);
  color: rgb(255 255 255);
  /* font-size: 20px; */
  /**/
  /* border: 1px outset rgba(0,0,0, 0.25); */
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
}

#clear,
#clear-entry {
  background-color: rgb(186 90 20);
}

/* #clear:hover, #clear-entry:hover{
  background-color:rgb(207, 0, 0)
} */

#\*,
#\/,
#\+,
#\-,
#negative,
#parenleft,
#parenright,
#squareroot {
  background-color: rgb(57 119 160);
}

#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#decimal {
  color: rgb(57 55 54);
}

#paren-inactive {
  background-color: rgb(158 180 192);
}

/* #multiply:hover, #divide:hover, #add:hover, #subtract:hover {
  background-color: #555;
} */

#equals,
#memrecall,
#memclear,
#memadd {
  /* grid-column: 3/5; */
  /* grid-row: 5; */
  background-color: rgb(35 71 96);
}

.calc-btn:hover {
  box-shadow: inset 0px 0px 0px 1px #fff;
}

.calc-btn:active {
  /* background: #e5e5e5; */
  /* outline: 1px red; */
  /* border: 1px inset white; */
  /* -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1; */

  /* -webkit-box-shadow:inset 0px 0px 0px .5px #fff;
    -moz-box-shadow:inset 0px 0px 0px .5px #fff;
    box-shadow:inset 0px 0px 0px 1px #fff; */
  background-image: linear-gradient(rgb(0, 0, 0, 0.4) 0 0);
  /* background-color: rgba(0,0,0,0.5); */
}

footer {
  flex: 0 1 40px;
  /* margin-top: 12rem; */
  text-align: center;
  /* height: 80px; */
}

a:link {
  color: #000;
}

a:visited {
  color: #333;
}